<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Raman Spectral Search in Biomolecules Database</title>
        <script>
            {jquery_script}
        </script>
        <style>
        {styles}
        </style>
    </head>
    <body>
        <div class="header">
            <img src="data:image/jpeg;base64,{logo_img}"> 
        </div>
        <div class="content">
            {content}
            <div class="results" id="results">
            </div>
            <div class="cite" id="cite">
                <h2>How to cite this tool:</h2>
                <span>If you use this tool for research, please cite us:</span>
                <span>TODO: Add cite</span>
            </div>
        </div>
        <footer class="footer">
            <a href="https://aiwell.uoc.edu/~mteranm/" target="_blank"><span>By Marcelo Terán Miranda</span></a>
            <div class="logo"> 
                <a href="https://www.uoc.edu/en">
                    <img src="data:image/jpeg;base64,{uoc_img}"/>
                </a>
                <a href="https://www.icfo.eu/en">
                    <img src="data:image/jpeg;base64,{icfo_img}"/>
                </a>
            </div>
        </footer>
        <script>
        {scripts}
        </script>
    </body>
</html>